<div class="container">
  <div class="contact-us">
    <h1>Contact Us</h1>
    <span><h5>Email</h5>
      <p><a href="mailto:cooctails@drinks.com">cooctails@drinks.com</a></p>
    </span>
    <span><h5>Phone</h5>
      <p>+237 698 794 102</p>
    </span>
    <span><h5>Address</h5>
      <p>Douala-cameroon</p>
    </span>
  </div>
  <hr width="1" size="300">

  <div class="logo-in-footer">
    <h1 class="logo">Co'OcKtails</h1>
    <span class="cocktails-footer-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut consequuntur distinctio maxime nisi reiciendis repellat voluptates voluptatibus? Ipsum, possimus!</p></span>
  </div>
  <hr width="1" size="300">
  <div class="footer-links">
    <h1>Utility Links</h1>
    <footer class="nav-link-footer">
    <span class="footer-link-item"><a routerLink="">Home</a></span>
    <span class="footer-link-item"><a routerLink="drinks">Drinks</a></span>
    <span class="footer-link-item"><a routerLink="about">About</a></span>
    </footer>
  </div>
</div>

