<div class="container">
  <h1 class="title">About us</h1>
  <div class="about-text">
    <p><span class="logos">Co'cKtail </span> is an recipes making organisation Lorem ipsum dolor sit amet,
      consectetur adipisicing elit. Aliquam aliquid commodi culpa cupiditate delectus, dolorum excepturi
      expedita illo illum, laboriosam maiores minima odio quae ratione, repudiandae rerum sed ullam veniam.</p>

  </div>
  <div class="about-banner">
    <div class="darken-image">
      <img src="../../assets/farmer-is-collecting-orange_1150-5723.jpg" alt=" farmer collecting fruits" class="farmer-image">
      <div>
          <h1>Our farmers carefully select our fruits to give you the best taste ever</h1>
        <p class="darken-image-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi expedita iste molestias,
          non nostrum nulla provident ratione. Assumenda distinctio eius est, harum magni nisi nostrum nulla quis quo repellendus?</p>
      </div>
    </div>
    <div class="cocktail-fruit">
      <div>
        <h1>we make recipes only with first quality products</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, consectetur, cum dolores expedita minima
          minus modi molestiae odit quisquam, reprehenderit soluta veritatis? Aut cum eius magni qui ratione vel voluptate.</p>
      </div>
      <img src="../../assets/colorful-fruit_1417-1529.jpg" alt="mixed colorful fruits" class="colorful-fruits">

    </div>

</div>


</div>
