<nav class="navbar">
  <span><h1 class="logo">Co'OcKtails</h1></span>
  <span class="navbar-links-container">
    <ul class="navbar-links">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> <a routerLink="">Home</a> </li>
      <li routerLinkActive="active"> <a routerLink="drinks">Drinks</a> </li>
      <li routerLinkActive="active"> <a routerLink="about">About</a></li>
    </ul>
  </span>

</nav>
<div class="mobile-menu-container">
  <div class="left-side"></div>
  <div class="right-side"></div>
</div>
