<div class="container">
  <div class="main">
  <div class="home">
    <img src="../../assets/fruit-cocktail-with.jpg" alt="banner" class="img-banner">
  </div>
  <div class="home-text">
    <h1 class="home-text-title">
      Choose the best and healthier way to sip cocktails
    </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cupiditate dignissimos dolorem hic illum ipsam itaque laudantium libero maiores minus non, numquam officia officiis quos similique sunt tempora totam ullam?</p>
    <button class="banner-button"><a routerLink="drinks">Explore now</a> </button>
  </div>
  </div>
  <div class="pre-banner">
    <div class="pre-banner-first">
      <h1>Our service is based on various and high quality fruits</h1>
      <p>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa in ipsa numquam voluptate! Deleniti dolor inventore modi, nobis officiis porro quidem sed soluta suscipit? Distinctio eius labore molestiae optio repellat.</span>
        <span>Adipisci cumque deserunt dignissimos eaque eos eveniet ex facilis fuga harum, ipsa iusto labore maiores maxime molestias, mollitia nam natus nesciunt perferendis, placeat quam quasi qui quod repudiandae tenetur vel?</span>
        <span>Architecto commodi earum, et nisi reiciendis voluptatem. Blanditiis consectetur cum dicta dolor eos expedita, fuga fugiat id illo illum laborum modi molestiae mollitia, pariatur quia sit sunt, totam ut. Ut.</span>
      </p>
    </div>
    <div class="inner-pre-banner">
      <span>
        <h2>We have recipes for Vgan</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid at error expedita maxime, minima nemo nihil odio odit, officia, pariatur porro possimus quasi quibusdam quos ratione ullam voluptatum. Vel!</p>
      </span>
      <span class="pre-banner-first-image"><img src="../../assets/fresh-fruits-isolated-white-background_144627-10547.jpg" alt="fruits compositions"></span>
      <span>
        <h2>and also for peoples who likes to discover</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab culpa dicta dolorem eligendi facere, in laudantium mollitia nihil quis tenetur, vel voluptate. Amet blanditiis commodi dicta ex hic odit provident?</p>
      </span>
    </div>
  </div>
  <div class="banner">
    <div class="banner-text">
      <div class="banner-text-container">
        <img class="rep-icon" src="../../assets/apple-100.png"  alt="apple image">
        <div class="rep-text-zone">
          <h4>Eat a lot of fruits and veg</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est fugiat inventore labore laborum, molestias numquam qui similique sit sunt ullam.</p>
        </div>
      </div>
      <div class="banner-text-container">
        <img class="rep-icon" src="../../assets/no-food-100.png"  alt="no food image">
        <div class="rep-text-zone">
          <h4>No fast food</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corporis cumque dolor ipsa ipsum mollitia nesciunt voluptatem. Illum, praesentium, sequi.</p>
      </div>
      </div>
      <div class="banner-text-container">
        <img class="rep-icon" src="../../assets/soup-100.png" alt=" soup icon">
        <div class="rep-text-zone">
          <h4>Soup may help you lose weight</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eum perspiciatis possimus quo temporibus! Autem iusto minima mollitia quaerat sit?</p>
        </div>
      </div>
    </div>
    <div class="main-body-image">
      <img src="../../assets/shocked-curly-haired-young-woman-stares-impressed-cannot-believe-own-eyes-carries-fresh-vegetables-rolled-karemat-leads-healthy-lifestyle-wears-sunglasses-isolated-brown-background_273609-61908.jpg" alt=" woman holding bunch of fruits">
    </div>
  </div>

</div>

